.display-one-room-booking {
  display: flex;
}

.card-one-room {
  width: 50vw;
  margin-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  background-color: white;
}

.container-booking {
  width: 50vw;
  margin-left: 20px;
}

.display-page-room {
  margin: 60px 60px 100px 60px;
}

.card-body {
  margin-left: 25px;
}

.height-big-image {
  height: 440px;
}

.height-small-image{
  height: 185px;
}
